@charset "UTF-8";

html {
	font-family: 'Noto Sans JP', Helvetica, Arial, "ＭＳ ゴシック", sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0;
	background: #FFF;
	min-width: 460px;
}

.container a:link {
	text-decoration: none;
	color: #5D757D;
}
.container a:visited {
	text-decoration: none;
	color: #5D757D;
}
.container a:hover {
	text-decoration: none;
    color: rgb(127, 160, 172);
    opacity: 0.8;
}
.container a:active {
	text-decoration: none;
    color: rgb(127, 160, 172);
}
/* .container p{
	font-size: 100%;
	line-height: 120%;
} */
.container img {
	border: 0;
}


.container{
    width: 960px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

header{
    height: 110px;
    display: flex;
    justify-content: space-between; /* 左右均等分布 */
}

.top-logo svg{
    margin-top: 5px;
    fill: #62C3E3;
}

.glb-menu{
    width: 480px;
    margin-top: 40px;
    position: relative;
}

.glb-menu ul.glb-menu-pgtop{
    display: flex;
    justify-content: stretch;
}

.glb-menu ul.glb-menu-pgtop li{
    margin: 0 15px;
    font-size: 125%;
}



/* ハンバーガーメニュー */
.glb-menu-hbg{
    width: 70px;
    height: 70px;
    position: fixed;
    top: -100px;
    right: 0;
    z-index: 100;
    background-color: #5D757D;
    transition: 0.5s;
}

.glb-menu-hbg-appear{
    top: 0;
    transition: 0.5s;
}

.glb-menu-hbg span {
    position: absolute;/*fixedを起点に位置を指定*/
    display: block;
    width: 60px;
    height: 3px;
    background-color: #FFF;
    transform: rotateZ(15deg);
    transition: all 0.5s;
}

.glb-menu-hbg span:first-of-type {
    top: 20px;
    left: 5px;
}
.glb-menu-hbg span:nth-of-type(2) {
    top: 34px;
    left: 5px;
}
.glb-menu-hbg span:last-of-type {
    bottom: 20px;
    left: 5px;
}

/* .close{
    border-radius: 50%;
} */
.close span:first-of-type{
    top: 34px;
    transition: 0.5s;
}
.close span:last-of-type{
    top: 34px;
    transform: rotateZ(-45deg);
    transition: 0.5s;
}

.glb-menu .glb-menu-lower-outer{
    width: 200px;
    height: 200px;
    padding: 20px;
    position: fixed;
    top: 70px;
    right: 70px;
    z-index: 100;
    background-color: rgb(178, 213, 226);
    transform: translateY(-130%);
    transition: 0.5s;
}

.down {
    transform: translateY(0) !important;
    transition: 0.5s;
}

.glb-menu ul.glb-menu-lower{
    
}

.glb-menu ul.glb-menu-lower li{
    font-size: 155%;
    line-height: 200%;
    text-align: right;
}



.main-visual{
    position: relative;
    height: 500px;
}

.main-center{
    width: 400px;
    margin: auto;
}

.main-center svg{
    width: 400px;
    fill: #51A4BF;
    margin: 20px auto;
}

.main-center p{
    font-size: 300%;
    text-align: center;
    color: #51A4BF;
}

.bgbox{
    position: absolute;
    border: 4px solid #92B9BA;
    border-radius: 3%;
}

.l-bgbox{
    width: 150px;
    height: 150px;
}

.m-bgbox{
    width: 100px;
    height: 100px;
}

.s-bgbox{
    width: 50px;
    height: 50px;
}

.bgbox-1{
    top: 0px;
    left: 700px;
}
.bgbox-2{
    top: 34px;
    left: 840px;
}
.bgbox-3{
    top: 54px;
    left: 812px;
}
.bgbox-4{
    top: 106px;
    left: 749px;
}
.bgbox-5{
    top: 307px;
    left: 22px;
}
.bgbox-6{
    top: 132px;
    left: 879px;
}
.bgbox-7{
    top: 378px;
    left: 33px;
}


/*  橋本  */
.main-content{
    color:#5D757D;
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  .box1 {
      width:400px;
      height:300px;
      padding: 0.5em 1em;
      margin: 2em 0;
      color: #2c2c2f;
      background: #62C3E3;/*背景色*/
      transform: rotate(10deg);
  }
  
  .box2 {
      width:50px;
      height:50px;
      color: #2c2c2f;
      border: solid 3px #92B9BA;
      transform: rotate(-20deg);
      margin-left: 650px;
  }
  
  .relative_big-box {
      position: relative;
      width: 400px;
  }
  .absolute_big-box {
      position: absolute;
      bottom: 350px;
      left:160px;
      margin-bottom: -340px;
  }
  
  .relative_small-box {
      position: relative;
      width: 400px;
  
  }
  .absolute_small-box {
      position: absolute;
      left:160px;
      margin-top:-160px;
  }
  
  .trim {
      overflow: hidden;
      width: 280px;
      height: 280px;
      position: relative;
  }
  
  .left{
      float:left;
  }
  
  .right{
      float:right;
  }
  
  .name{
      margin-top:25px;
      width:450px;
      height:300px;
  }
  
  .myname{
      font-size: 50px;
      line-height: 1.3;
      font-weight:bold;
      text-transform: uppercase;
  }
  
  .job{
      font-size: 35px;
      line-height: 2.5rem;
      font-weight:bold;
      text-transform: uppercase;
  }
  
  .small-font{
      font-size: 20px;
      line-height: 2.5rem;
  }

  .f_naname{
      clear: both;
      transform: rotate(30deg);
      padding-top: 120px;
      margin-left: 200px;
  }
  





footer {
    background-color: #6F6060;
    color: aliceblue;
    height: 250px;
}

/* 西村 追加 */
.footer-area{
    width: 1080px;
    margin-left: 5%;
}

/* 西村 以下セレクタに親要素footerを追加 */

footer img {
    height: 23px;
    width: 50px;
    filter: brightness(10);/* 西村 追加 */
}
footer section {
    margin-left: 50px;
    display: flex;
    align-items: center;
}
footer .menu {
    margin-left: 300px;
}
footer div {
    float: left;
    margin: 10px 20px;
    }


footer h2,
footer ul,
footer li,
footer a {
    margin: 10px;
    color: aliceblue;
}
footer a {
    text-decoration: none;
}
footer small {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
}
